@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(10);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}



.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.basket {
    margin-top: 80px;
}

.backmenu {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    color: red;

}

.trove {
    position: relative;
    right: 330px;
}

.trove,
.trove a {
    color: red;
}

.icon_boring {
    margin-top: 100px;
    text-align: center;
    font-size: 2.3em;
}

.isgpd {
    margin-top: 50px;
    text-align: center;
    font-size: 1.3em;
}

.btn_isgpd {
    margin: auto;
    margin-top: 100px;
    width: 200px;
    height: 40px;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    user-select: none;
}

.nobuy {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* display: none; */
}

.yesbuy {}

.product_basket {}

.product_basket>div {
    margin: auto;
    margin-top: 20px;
    width: 600px;
    min-height: 130px;
    display: flex;
}

.img_product img {
    width: 150px;
}

.price_productbasket>div {
    display: flex;
}

.title_productbasket {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.title_productbasket input {
    width: 40px;
    border-radius: 5px;
    text-align: center;
    outline: none;
    border: 1px solid gray;
}

.btn_productbasket {
    margin: auto;
    height: 185px;
    width: 600px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-bottom: 20px;
    /* display: none; */
    margin-bottom: 50px;
}

.btn_productbasket--first {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
}

.btn_productbasket--secondaly {
    margin: auto;
    height: 50px;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 90%;
    margin-top: 20px;
}

.btn_productbasket--final {
    margin: auto;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 0);
    width: 90%;
    margin-top: 20px;
    border: 1px solid red;
}

.btn_productbasket--final:hover {
    background-color: red;
    transition: 0.5s;
    color: white;
}

.yesbuy {}

.dacosp {
    /* display: none; */
}

.popupPay{
    position: absolute;
    top: 180px;
    background-color: white;
    left: 30.4%;
    min-height: 528px;
    width: 600px;
    border: 1px solid black;
    border-radius:4px ;
}

.form-group {
    margin-bottom: 20px;
    padding: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
#shippingForm{
    padding: 10px;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: red   ;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin: auto;
}

button[type="submit"]:hover {
    background-color: rgb(191, 2, 2);
    
}
.popupPay{
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black;    */
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* header */
.header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

.header_logoimg {
  width: 15%;
}

.menu_header a {
  text-decoration: none;
  color: #ffff;
}

.menu_header {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65px;
  width: 100%;
  background-color: #df062d;
  color: white;
  padding: 0 150px;
}

.menu_header>div {
  margin: 0 10px;
  cursor: pointer;
  padding: 0 5px;
  }

.menu_header>div>i {
  margin-right: 5px;
}


.header_logo {
  width: 180px;
}

.header_list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 50px;
  /* background-color: #df3346; */
  border-radius: 5px;
}

.header_list a {
  width: 67px;
}

.loca_HCM {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 30%; */
  height: 50px;
  /* background-color: #df3346; */
  border-radius: 5px;
}

.loca_HCM>div {
  width: 110px;
}

.input_header {
  display: flex;
  width: 37%;
}

.input_header input {
  width: 100%;
  height: 25px;
  outline: none;
  border-radius: 5px;
  padding-left: 20%;
  border: none;
}

.fa-magnifying-glass {
  position: relative;
  left: 15%;
  margin-top: 5px;
  color: #707070;
}

.header_phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11%;
  height: 50px;
  /* background-color: #df3346; */
  border-radius: 5px;
}

.header_phone a {
  width: 91px;
}

.header_car {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 5px;
  border-radius: 10px;
}

.header_3cham {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Số dòng tối đa hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header_user {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f65b6d;
  padding: 5px 20px;
  border-radius: 10px;
}

.header_bag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 60px;
  border-radius: 10px;
  padding-right: 30px;
}

/* hover header */
.menu_header>div:hover {
  background-color: #f65b6d;
}

/* phần menu_header */
.menu-banner--left {
  display: flex;
  width: 940px;

}

.menu-banner {
  min-width: 80%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.accessory {
  padding-right:5px ;
  min-height: 400px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.banner {
  width: 700px;
  height: 420px;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .banner img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
} */

.bannersmall {
  height: 420px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bannersmall>div {
  border-radius: 10px;
  width: 100%;
  background-color: rebeccapurple;
  height: 130px;
}

.nav_accessorry img {
  width: 20px;
}

.nav_accessorry a {
  text-decoration: none;
  color: black;
  font-weight: 1000;
  font-size: small;
  margin: 0 0 0 10px;
}

.nav_accessorry a:hover {
  color: red;
}

.nav_accessorry {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 10px 0 10px 10px;

}

.list_nav_products {
  position: absolute;
  top: 70px;
  left: auto;
  display: none;
  margin-left: 151px;
  min-height: 420px;
  min-width: 1200px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  z-index: 1;
}

.list_products {
  display: flex;
  justify-content: start;
}

.list_products-detal {
  margin: 5px 10px;
  min-height: 100px;
  width: 200px;
}

.list_products-detal li {
  line-height: 30px;
  white-space: nowrap;
}

.list_products-detal li a {
  color: #707070;

}


.nav_accessorry:hover .list_nav_products {
  display: block;
}

.banner_text {
  height: 100%;
  width: 100%;
}


.bannersmall>div>img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* sline show */
.slider {
  width: 700px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 700px;
  height: 300px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 700px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  text-align: center;
}


.manual-btn:hover {
  background: #f4f4f4;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

#radio3:checked~.first {
  margin-left: -40%;
}

#radio4:checked~.first {
  margin-left: -60%;
}

#radio5:checked~.first {
  margin-left: -80%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  min-width: 100px;
  justify-content: start;
  margin-top: 417px;
  margin-left: 30px;
}

.navigation-auto div {
  width: 100px;
  height: 3px;
  background-color: #f6f6f6;
}


.navigation-auto div:not(:last-child) {
  margin-right: 35px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background: #df062d;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background: #df062d;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background: #df062d;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background: #df062d;
}

#radio5:checked~.navigation-auto .auto-btn5 {
  background: #df062d;
}

.products {
  margin-top: 20px;

}

.products_sale {
  margin: auto;
  width: 90%;
  min-height: 500px;
  background-color: #ffd391;
  border-radius: 10px;
}

.sale-btn1 {
  text-align: center;
  width: 200px;
  padding: 2px;
  background-color: #df3346;
  border-radius: 5px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
  color: white;
}

.sale-btn2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 20px;
  padding: 2px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  color: #df062d;
}

.sale_btn--main {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* countdownt */
.countdown-sale {
  align-items: center;
  display: flex;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  margin-left: 30px;
}

.countdown h1 {
  color: #ff6a0d;
}

.countdown li {
  display: inline-block;
  font-size: 0.8em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  border: 1px solid #ff6a0d;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #ff6a0d;
}

.countdown li span {
  display: block;
  font-size: 1em;
}

/* //countdown */
.sale_header {
  display: flex;
  justify-content: center;
}

.sale_header--left {
  display: flex;
  align-items: center;
}

.sale_body {
  position: relative;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

.swiper {
  width: 84%;
  min-height: 400px;
}

.swiper-slide {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  width: 240px !important;
  margin-right: 0 !important;
  position: relative;
  top: -40px;
  cursor: pointer;

}

.swiper-slide img {
  position: relative;
  top: 40px;
  width: 100px;
}

.swiper-slide p {
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 0.8em;
  color: white;
}

.product_layout {
  border-radius: 10px;
  height: 380px;
  width: 240px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid gray; */
  box-shadow: 0 0 5px gray;
}

.product_layout>div {
  padding: 0 10px;
}

.name_product {
  color: #4c4c4c;
  font-size: 0.8em;
}

.imgproduct {
  height: 200px;
  display: flex;
  justify-content: center;
}

.imgproduct img {
  width: 150px;
}

.content_product {
  min-height: 30px;
  font-size: 0.6em;
  background-color: #f4f4f4;
  padding: 2px;
  border-radius: 10px;
  color: #707070;
  margin-bottom: 20px;
}

.price_product {
  display: flex;
  font-size: 0.8em;
}

.price-main {
  color: #df062d;
}

.update {
  font-size: 0.8em;
  color: #df062d;
}

.ship_product {
  margin-top: 10px;
  font-size: 0.6em;
  border: 1px solid #df062d;
  width: 60%;
  padding: 3px;
  text-align: center;
  border-radius: 5px;
  color: #df062d;
}

.emoj_product {
  display: flex;
  margin: 0 15px;
  font-size: 0.8em;
  color: #707070;
  cursor: pointer;
}

.plusandemoji {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

/* show_products */
.show_products {
  margin: 20px;

}
.nav_product>ul>li {
  display: inline-block;
  background-color: #f3f4f6;
  padding: 10px;
  border-radius: 10px;
}

.nav_product a {
  color: black;
}

.show_products--header {
  width: 100%;
  display: flex;
  align-items: space-around;
  justify-content: space-between;
}

.show_products--header>div {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show_products--body>div {
  display: flex;
  justify-content: center;
  margin-top: 0;
}


.square_product {
  height: 125px;
  width: 110px;
  background-color: #f28376;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.square_product--name {
  position: relative;
  margin: 2px 0 0 10px;
  color: white;
}

.square_product--image>img {
  position: relative;
  bottom: 22px;
  width: 110px;
  border-radius: 0 0 10px 10px;
}

.square_product--image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.square_product {
  margin: 5px 5px 5px 5px;
}

.square_product--phu {
  width: 1200px;
  display: flex;
}

.rectangle_products {
  display: flex;
}

.rectangle_products>div {
  margin: 5px;
  height: 130px;
  width: 300px;
  background-color: #f28376;
  border-radius: 10px;
}

.rectangle_products>div>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.rectangle_text_products>div {
  min-height: 100px;
  width: 290px;
  border: 1px solid rgb(121, 121, 121);
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content:space-between; */

}

.rectangle_text_products>div>div {
  margin: 5px;
}

.rectangle_text_products img {
  height: auto;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.rectangle_text_products a {
  color: #000;
  font-weight: 1000;
  font-size: 1.1em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Số dòng tối đa hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rectangle_text_products .text {
  height: 50px;
}

/* footer */
footer {
  box-shadow: 0px 0px 10px #4c4c4c;
  padding-top: 10px;
}

.footer_1 a {
  color: #4c4c4c;
  font-size: 0.8em;
}

.footer_1 li {
  margin: 0 0 0 10px;
}

.footer_1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer_1>div {
  min-height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

.footer_1-2 {
  background-color: #f8f8f8;
}

.footer_1-2>div {
  min-height: 100px;
}

.img_footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.da-reponsive {
  display: none !important;
}

.square_products {
  overflow: hidden;
  flex-wrap: wrap;

}

.square_products>div {
  /* background-color: #707070; */
  width: 1200px;
  display: flex;
  justify-content: left;
}

.banner_text img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: none;
  margin-top: 1px;
}


.footer_2 {
  position: fixed;
  bottom: 0;
  z-index: 99;
  min-height: 60px;
  display: none;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  display: none;
  transition: 1s;
  border-top: 1px solid rgb(176, 176, 176);


}

.footer_2>div {
  margin: 20px;
  display: inline-block;
  color: #707070;

}

.footer_2 a {
  color: #707070;
  margin-left: 10px;
}

/* chose login small */
.chose_login img {
  width: 40px;
}

.chose_login {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #353434d0;
  z-index: 100;
  display: none;
}

.chose_login>div {
  margin: auto;
  min-height: 170px;
  width: 350px;
  background-color: white;
  margin-top: 35vh;
  border-radius: 10px;
  padding: 5px;
}

.Smember {
  font-size: 2em;
  color: #df062d;
}

.chose_login--header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chose_login--btn {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0 10px;
}

.chose_login--btn>div {
  height: 40px;
  width: 155px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: #df062d;
}

.login>a {
  color: white;
}

.signup1>a {
  color: #df062d;
}

.signup1 {
  border: 1px solid #df062d;
}
.chose_login--text {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1.2em;
  color: #9c9c9c;
}
.fa-x {
  position: relative;
  left: 70px;
  bottom: 8px;
  cursor: pointer;
}
.header_user{
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.poup-User{
  position: absolute;
  top: 69px;
  right: 145px;
  height: 200px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 5px gray;
}
.triangle{
  position: relative;
  left: 235px;
  bottom: 12px;
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
}
.content_poupUser{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 20px;
  padding: 10px;
  height: 100%;
}
.poupUser-item{
  border: 1px solid #df062d;
  height: 40px;
  border-radius: 5px;
} 
.poup_left{
  display: flex;
  align-items: center;
}
.poup-text{
  margin-left: 10px;
  color: #df062d;
}

.poup-img{
  height: 30px;
  width:30px;
  border-radius: 100px;
  background-color: #4c4c4c;
}
.poupUser-item{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: #df062d;
}
.poup_right{
  color: #df062d;
  min-width: 20px;
  display: flex;
  align-items: center;
}
.poupUser-item--end{
  color: #000;
  height: 30px;
}
.div1{
  display:none;
}
.content_poupUser>div>a{
  margin-bottom: 10px;
}
.muahang{
 border: none;
 background-color: rgba(0, 0, 0, 0);
}
#xoaProduct{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.btnUPDown{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnUPDown input {
  width: 30px;
}
.btnUPDown>div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
  border:1px solid gray;
  margin: 0 5px;
  border-radius: 5px;
} 
.btnUPDown a{
  color: black;
}